<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->

	<bean id="employee" class="com.learning.Employee">
		<property name="id" value="101"></property>
		<property name="name" value="Lemon"></property>
		<constructor-arg name="address" ref="address"></constructor-arg>
	</bean>
	
	<bean id="address" class="com.learning.Address">
		<property name="city" value="Bangalore"></property>
		<property name="state" value="KA"></property>
		<property name="country" value="IND"></property>
	</bean>
</beans>